/**All CSS rules are organised by vertical page structure, beginning wth most important/general rules**/
body{
	margin:0px;
	padding:0px;
	font-family:Roboto;
	}
@font-face{
	font-family:Roboto;
	src:url(fonts/roboto/Roboto-Regular.ttf);
	}/**Used for body text**/
@font-face{
	font-family:Roboto-Black;
	src:url(fonts/roboto/Roboto-Black.ttf);
	}/**Used for menu nav text**/
.home-box{
	display:grid;
	grid-template-columns:auto auto auto auto auto auto auto auto;
	background-image:url("art-blur-cappuccino-302899.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	height:100vh;
	}/**Styles the home page container, using CSS Grid.**/
.logo-div{
	grid-column:1/1;
	}
.nav-div{
	grid-column:8/8;
	}
#logo{
	width:300px;
	height:300px;
	}/**Logo is constrained to this size**/
nav{
	margin-top:75px;
	margin-bottom:40px;
	}/**All nav menu styling**/
nav a{
	text-decoration:none;
	color:white;
	display:block;
	font-family:Roboto-Black;
	padding:5px;font-size:1.3em;
	}
nav a:hover{
	color:#AAA;
	}
nav a:active{
	color:#AAA;
	}
img{
	width:100%;
	}/**All images unless otherwise styled are 100% of container width**/
.content-box{
	display:grid;
	grid-template-columns:auto auto;
	padding:20px;
	}/**Styles all content boxes except home, uses CSS Grid.**/
.content-header{
	grid-column:1/3;
	text-align:center;
	color:#A5D8C2;
	font-family:Roboto-Black;
	}/**Styles the headers**/
.content-col-1{
	grid-column:1/2;
	padding:20px;
	border-right:2px solid #A5D8C2;
	padding-top:0px;
	}/**Styles column 1**/
.content-col-2{
	grid-column:2/3;
	padding:20px;
	padding-top:0px;
	}/**Styles column 2**/
.menu-item{
	padding:20px;
	display:grid;
	grid-template-columns:auto auto;
	}/**Specific div styling for the menu items**/
.item-name{
	grid-column:1/2;
	}
.item-price{
	grid-column:2/3;
	text-align:right;
	}
.content-image{
	grid-column:1/3;
	margin-left:20%;
	margin-right:20%;
	}/**Styles all image containers other than home page**/
#contact{
	background-color:#A5D8C2;
	color:white;
	}/**Styles contact section elements uniquely**/
#contact-header{
	color:white;
	}
#contact-info{
	grid-column:1/3;
	text-align:center;
	}
#social a{
	text-decoration:none;
	color:white;
	padding:20px;
	}
@media (max-width:450px){/**Rules for smaller screen sizes**/
	body{
		font-size:1.3em;
		}
	.home-box{
		height:100%;
		align-content: start;
		grid-template-columns:auto;
		justify-content: center;
		}/**Main changes are from 2 column layout to 2 row layout for all containers**/
	#logo{
		padding-left:12px;
		}
	nav{
		margin-top:0px;
		}
	nav a{
		font-size:1.4em;
		padding:10px;
		}
	.logo-div{
		grid-column:1/2;
		text-align:center;
		}
	.nav-div{
		grid-row:2;
		grid-column:1/2;
		text-align:center;
		}
	.top-link{
		grid-row:5;
		}
	#menu-1{
		border-bottom:2px solid #A5D8C2;
		padding-bottom:20px;
		}
	#menu-2{
		padding-top:20px;
		}
	.content-col-1{
		grid-column:1/3;
		border-right:0px solid grey;
		padding-bottom:0px;
		}
	.content-col-2{
		grid-row:4;
		grid-column:1/3;
		padding-top:0px;
		}
	.content-image{
		margin-left:0;
		margin-right:0;
		}
	.top-para{
		margin-top:0px;
		}
}
@media (max-width:305px){
	#logo{height:250px;width:250px;}
}/**Rule for extremely narrow screens to remove side scrolling bar**/